*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body,html{
    width: 100%;
    height: 100%;
}

#back{
    width: 100%;
    height: 100%;
}

#particles{
    width: 100%;
    height: 100%;
    background-color: #1a2648;
    position: relative;
}

#particles > p{
    position: absolute;
    bottom: 2%;
    left:0;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}

#centertext{
    width: 47%;
    /* background-color: #fff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}

#centertext > h1{
    font-weight: 300;
    font-size: 40px;
}

#centertext > h2{
    font-weight: 300;
    font-size: 35px;
}

.highlight{
    font-weight: 600;
    /* color: rgb(220, 207, 28); */
}

#centertext > a > button{
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 3px solid white;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

#centertext > a > button:hover{
    background-color: #1cd0dc;
    cursor: pointer;
    font-weight: 600;
}

#project{
    width: 100%;
    height: 100%;
    position: relative;
}

#project > h1{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    padding: 10px 0;
    background-color: #1ccfdcb2;
    color: #1a2648;
}

#buttons{
    width: 100%;
    height: 100px;
    /* background-color: #eee; */
    display: flex;
    padding: 20px 30px;
    justify-content: center;
}

.dbtn{
    width: 200px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #1cd0dc;
    box-shadow: 0 8px 0 0 #036168;
    border: none;
    outline: none;
    color:#1a2648;
    font-weight: 400;
    font-size: 20px;
}

.dbtn:nth-child(1){
    width: 250px
}

.dbtn:hover{
    cursor: pointer;
}
.dbtn:active{
    position: relative;
    top: 8px;
    box-shadow: none;
}

#displayarea{
    width: 100%;
    height: 80%;    
}

#blank{
    width: 100%;
    height: 100%;
    background-color: #eee;
    text-align: center;
    position: relative;
}

#blank > h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    font-weight: 300;
    font-size: 60px;
    color:rgba(80, 79, 79, 0.521);
}

#displayarea #showcase{
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
    padding: 20px;
    display: none;
    animation: coll 0.7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

#showcase::-webkit-scrollbar{
    width: 10px;
    height: 0px;
    scroll-snap-type-x: hidden;
    background-color: #888;
}
#showcase::-webkit-scrollbar-thumb{
    background-color: black;
}



.showpieces{
    width: 600px;
    height: 334px;
    overflow: hidden;
    margin-top: 20px;
}
.items{
    width: 100%;
}

.items:hover{
    cursor:pointer;
}

#webprojects{
    display: flex !important;
    width: 100%;
    height: 100% !important;
    overflow: auto;
    padding: 20px;
    display: none;
    background-color: rgb(230, 230, 230);
    animation: coll 0.7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

#webprojects::-webkit-scrollbar{
    width: 10px;
    height: 0px;
    scroll-snap-type-x: hidden;
    background-color: #888;
}
#webprojects::-webkit-scrollbar-thumb{
    background-color: black;
}

#webprojects h2{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    /* color: #1cd0dc; */
}

.websites{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: red;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.websites:hover{
    cursor: pointer;
}
#top{
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(121, 121, 121);
    opacity: 0.5;
    animation: down 0.4s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.websites button{
    height: 40px;
    position: absolute;
    z-index: 999;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
}

.websites button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.websites:nth-child(2){
 background-image: url(projects/imagination.jpg);
}

.websites:nth-child(3){
    background-image: url(projects/HomeAutomation.jpg);
}

.websites:nth-child(4){
    background-image: url(projects/Dashboard.jpg);
}

.websites:nth-child(5){
    background-image: url(projects/Dashboard2.PNG);
}

#modalpopup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(134, 134, 134, 0.205);
    display: none;
}
  
#content{
    width: 80%;
    height: 90%;
    background-color: rgba(37, 37, 37, 0.986);
    position: fixed;
    border-radius: 10px;
    top: 5%;
    left: 10%;
    z-index: 99;
    animation: popup 0.7s cubic-bezier(0.19, 1, 0.22, 1) both;
}
  
#contimg{
    width: 93%;
    height: 95%;
    position:absolute;
    left: 3.5%;
    top: 3%;
    /* background-color: red; */
    overflow: auto;
}
#contimg::-webkit-scrollbar{
    display: none;
}

#cont{
    width: 100%;
}


.close{
    position: fixed;
    right: 0;
    font-size: 50px;
    font-weight: 400;
    padding: 2px 10px;
    color:#aaa;
    /* background-color: #fff; */
}
  
.close:hover{
    cursor: pointer;
    color: #fff;
}
  
@keyframes popup {
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
}

@keyframes coll {
    from{
      height: 0%;
    }
    to{
      height: 100%;
    }
}   

@keyframes down {
    from{
      top: -50%;
    }
    to{
      top: 0%;
    }
}   
